*{
box-sizing:border-box;
}


body{

margin:0;

font-family:Arial, sans-serif;

background:#0f172a;

color:white;

}



.container{

padding:20px;

max-width:500px;

margin:auto;

}



h1{

text-align:center;

font-size:32px;

}



.subtitle{

text-align:center;

opacity:.8;

}




.balance-box{

background:#1e293b;

padding:25px;

border-radius:20px;

text-align:center;

margin:20px 0;

}



.balance-box h2{

font-size:40px;

margin:10px;

color:#22c55e;

}




.card{

background:#1e293b;

padding:20px;

border-radius:20px;

margin-bottom:20px;

}




.task{

background:#334155;

padding:15px;

border-radius:15px;

margin-top:15px;

}



button{

width:100%;

padding:15px;

margin-top:10px;

border:none;

border-radius:15px;

font-size:18px;

font-weight:bold;

background:#facc15;

cursor:pointer;

}



button:disabled{

background:#64748b;

}



.withdraw button{

background:#475569;

}
